/* Google font Link  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* == Some Default Css Start Here == */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

body {
  max-width: 55%;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
}
.container {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* == Some Default Css End Here == */

/* == Task Form style Css Start here ==  */
#taskForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
#taskForm input,
#taskForm textarea,
#taskForm select,
#taskForm button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 500;
}

#taskForm textarea {
  resize: none;
}

#taskForm button {
  background: #55efc4;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
}

/* == Task Form style Css End here ==  */

/* == Task List Css Start Here == */

.taskList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item {
  background: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 15% 15% 25% 15% 30%;
  align-items: center;
  text-align: center;
}

.task-head {
  margin-bottom: 1rem;
  padding: 6px 3px;
}

.task-head p {
  font-size: 1.1rem;
  font-weight: 600;
}

.task-completed {
  text-decoration: line-through;
  color: #888;
  opacity: 0.7;
}
.task-actions button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}
.search-input input,
.search-input select {
  width: 40%;
  padding: 10px;
  background: #fff;
  border: 1px solid #6c5ce7;
  outline: none;
  font-size: 1rem;
  border-radius: 6px;
  margin: 10px auto;
}
.complete-btn {
  background-color: #4caf50;
}
.delete-btn {
  background-color: #f44336;
}

.update-btn {
  background-color: crimson;
}

.show-no-task {
  text-align: center;
  font-size: 20px;
}

.complete-task {
  background: #a29bfe88;
  padding: 4px 10px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #000000;
  border-radius: 3px;
}

#UpdateToTaskBox {
  display: none;
}

/* == Task List Css End Here == */

/* Responsive Css For Mobile  Start */

@media screen and (max-width: 575px) {
  body {
    max-width: 95%;
    margin: 0 auto;
    padding: 10px;
    line-height: 1.6;
  }
  .task-item {
    padding: 10px;
    grid-template-columns: 100%;
    gap: 10px;
  }
  .search-input input,
  .search-input select {
    width: 80%;
    padding: 8px;
    font-size: 0.8rem;
  }
  .delete-btn {
    margin-top: 0.8rem;
  }
}

/* Responsive Css For Mobile End  */
